<!-- Home Html Page-->

<%- include('layout/header')%>

<a href="home">Home</a>
<a href="login">login</a>
<a href="signup">signup</a>
<a href="medicalhistory">medicalhistory</a>
<a href="stock">stock</a>



<%- include('layout/footer')%>