<!-- Login Html Page-->

<%- include('layout/header')%>

    <div class="body-inner">
        <div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true"
            style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-label">Medium Modal</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto
                                    quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi
                                    inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-b">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modal-2" tabindex="-1" role="modal" aria-labelledby="modal-label-2"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modal-label-2" class="modal-title">Small Modal</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto
                                    quae ullam rem labore veritatis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="float-left">
                            <button data-dismiss="modal" class="btn btn-b" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modal-3" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modal-label-3" class="modal-title">Large Modal</h4>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb20">
                            <div class="col-md-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto
                                    quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi
                                    inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 xs-box">
                                <div class="box-services-a">
                                    <h3>Fast processing code</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores
                                        repudiandae, accusantium reiciendis!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box-services-a">
                                    <h3>Endless variations</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores
                                        repudiandae, accusantium reiciendis!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-b" type="button">Close</button>
                        <button class="btn btn-b" type="button">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>


        <section id="page-content">
            <div class="container">
                <div class="row">
                    <div class="content col-lg-9">
                        <h3>Small Modal</h3>
                        <p>Beautiful nature, and rare feathers!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                            gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id
                            molestievolutpat. </p>
                        <a class="btn" data-target="#modal-2" data-toggle="modal" href="#">Small Modal</a>
                        <div class="line"></div>
                        <h3>Medium Modal</h3>
                        <p>Beautiful nature, and rare feathers!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                            gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id
                            molestievolutpat. </p>
                        <a class="btn" data-target="#modal" data-toggle="modal" href="#">Medium Modal</a>
                        <div class="line"></div>
                        <h3>Large Modal</h3>
                        <p>Beautiful nature, and rare feathers!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum
                            gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id
                            molestievolutpat. </p>
                        <a class="btn" data-target="#modal-3" data-toggle="modal" href="#">Large Modal</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>



    <%- include('layout/footer')%>