<!-- Home Html Page-->

<%- include('layout/header')%>
    <div class="body-inner">



        <a data-lightbox="inline" data-target="#modal-3" data-toggle="modal" href="#"
            style="position: fixed;width: 5%;height: 2%;top: 29%;left: 11%;transform: rotate(15deg);"></a>
        <a href="medicalhistory" data-lightbox="inline"
            style="position: fixed;width: 9%;height: 2%;top: 71%;left: 17%;transform: rotate(1deg);"></a>


        <!------------------------------------- bottom bar ------------------------------------------------------------------->
        <div id="dock-container">
            <ul>
                <li>
                    <a id="Explore" data-target="#modal-1" data-toggle="modal" href="#">
                        <span>Explore</span>
                        <img src="/images/checklist.png" /></a>
                </li>
                <li>
                    <a id="patients" data-target="#modal-2" data-toggle="modal" href="#">
                        <span>Patients</span>
                        <img src="/images/patient.png" /></a>
                </li>
                <li>
                    <a href="#">
                        <span>Help desk</span>
                        <img src="/images/customer-service.png" /></a>
                </li>
                <li>
                    <a href="#">
                        <span>Call us</span>
                        <img src="/images/phone.png" /></a>
                </li>
            </ul>
            <div class="menu-perspective" style="width: 100%;">
                <div class="menu-board metal-gradient" style="min-width: 512px;"></div>
            </div>
        </div>



















        <!--------------------------------------------------- Explore modal---------------------------------------------------->

        <form action="mainHallForPatient" method="POST" enctype="multipart/form-data">

            <div class="modal fade" id="modal-1" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">

                            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                                <a class="navbar-brand" href="#" style="font-family: cooper black; font-size:1rem;">
                                    <img src="/images/heart-rate.png" width="30" height="30"
                                        class="d-inline-block align-top" alt="">
                                    ON-Pharma
                                </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="nav nav-tabs mr-auto" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Scans"
                                                role="tab" aria-controls="home" aria-selected="false">Scans</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " id="profile-tab" data-toggle="tab" href="#Analysis"
                                                role="tab" aria-controls="profile" aria-selected="true">Analysis</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Prescreptions"
                                                role="tab" aria-controls="contact"
                                                aria-selected="false">Prescreptions</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Disease"
                                                role="tab" aria-controls="contact" aria-selected="false">Disease</a>
                                        </li>
                                    </ul>
                                    <form class="form-inline my-2 my-lg-0">
                                        <input class="form-control mr-sm-2 searchfield" type="text"
                                            placeholder="Patient QRCode" aria-label="Search" name="id"
                                            style="max-width: 160px;" required>
                                        <button class="btn  my-2 my-sm-0 search" type="button">Search</button>
                                    </form>
                                </div>
                            </nav>
                        </div>
                        <div class="modal-body">
                                        <div id="spinner" style="
                                            margin-bottom: 230px;
                                        "></div>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="Scans" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="container">
                                        <div class="panel-group">
                                            <div class="panel panel-default">

                                                <div id="collapse1" class="">
                                                    <table class="table">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Date</th>
                                                                <th>Resulte</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="scanTable" class="empty">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade " id="Analysis" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="container">
                                        <div class="panel-group">
                                            <div class="panel panel-default">

                                                <div id="collapse1" class="">
                                                    <table class="table">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Date</th>
                                                                <th>Resulte</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="analysisTable" class="empty">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Prescreptions" role="tabpanel"
                                    aria-labelledby="contact-tab">
                                    <div class="container">
                                        <div class="panel-group">
                                            <div class="panel panel-default">

                                                <div id="collapse1" class="">
                                                    <table class="table">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Date</th>
                                                                <th>Resulte</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="prescreptionTable" class="empty">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="Disease" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="container">
                                        <div class="panel-group">
                                            <div class="panel panel-default">

                                                <div id="collapse1" class="">
                                                    <table class="table">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Detected From</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="chronicDisease" class="empty">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 style="font-family: cooper black;">Add To Patient</h5>

                            <hr>

                            <div class="form-row ">
                                <div class="form-group col-md-3">
                                    <label for="LastNamep">Name<span class="text-danger">*</span></label>
                                    <input type="text" id="LastNamelpatient" class="form-control" name="LastNamep"
                                        placeholder="Enter the name of scan/analysis/..." required>

                                </div>



                                <div class="form-group col-md-3">

                                    <label for="bd">Date<span class="text-danger">*</span></label>
                                    <input type="date" id="bdpatient" class="form-control" name="Bdate"
                                        placeholder="Enter second name" required>


                                </div>

                                <div class="form-group col-md-3">
                                    <label for="Genderp">Type<span class="text-danger">*</span></label>
                                    <select class="form-control" id="Genderp" name="Genderp" required>
                                        <option value=-1>Select the Type</option>
                                        <option value=0>Scan</option>
                                        <option value=1>Analysis</option>
                                        <option value=2>Prescreption</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="LastNamep">Choose PDF file<span class="text-danger">*</span></label>
                                    <input type="file" id="filetoupload" class="form-control" name="filetoupload"
                                        placeholder="Enter second name" required>

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-b" type="button">Close</button>
                            <button class="btn btn-b" type="submit">Add</button>



                        </div>
                    </div>
                </div>
            </div>
        </form>

























        <!---------------------------------------------------- Patient modal in the bottom bar ------------------------------------------------->
        <div class="modal fade" id="modal-2" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <nav class="navbar navbar-expand-lg navbar-light bg-lightk">
                            <a class="navbar-brand" href="#" style="font-family: cooper black; font-size:1rem;">
                                <img src="/images/heart-rate.png" width="30" height="30"
                                    class="d-inline-block align-top" alt="">
                                ON-Pharma
                            </a>
                        </nav>


                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="panel-group">
                                <div class="panel panel-default">

                                    <div id="collapse1" class="">
                                        <table class="table">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>

                                                </tr>
                                            </thead>
                                            <tbody id="getmePatients" class="empty">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-b" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- -------------------------------------------QR Code------------------------------------------------------------------------- -->

        <!-- <svg class="barcode" jsbarcode-format="upc" jsbarcode-value="123456789012" jsbarcode-textmargin="0"
    jsbarcode-fontoptions="bold" displayValue ="false">
    </svg> -->

        <!-- <svg id="barcode"></svg>
        <img class="barcode" src="" alt=""> -->
        <!-- --------------------------------------------------------------------------------------------------------------------- -->




        <!---------------------------------------------------- Search Modal ------------------------------------------------->

        <form action="" method="POST" class="form-validator">

            <div class="modal fade" id="modal-3" tabindex="-1" role="modal" aria-labelledby="modal-label-3"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">

                            <nav class="navbar navbar-expand-lg navbar-light bg-lightk justify-content-between">
                                <a class="navbar-brand" href="#" style="font-family: cooper black; font-size:1rem;">
                                    <img src="/images/heart-rate.png" width="30" height="30"
                                        class="d-inline-block align-top" alt="">
                                    ON-Pharma
                                </a>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">



                                        <li class="nav-item  active">
                                            <div class="form-group col-md-6">
                                                <label for="Gendert">Type<span class="text-danger">*</span></label>
                                                <select class="form-control" id="selecttype" name="Genderp"
                                                    style="    min-width: 152px;" required>
                                                    <option value="-1">Search For</option>
                                                    <option value="0">Medicines</option>
                                                    <option value="1">Pharmacy</option>
                                                </select>
                                            </div>

                                        </li>

                                    </ul>
                                    <input class="form-control mr-sm-2" type="search" id="searchfeildtowritename"
                                        placeholder="Search" aria-label="Search" style="max-width: 190px;" required>
                                    <button id="searchfor" class="btn btn-outline-success my-2 my-sm-0"
                                        type="button">Search</button>
                                </div>
                            </nav>
                            </nav>


                        </div>
                        <div class="modal-body">
                            <div id="spinner2" style="
                                                                        margin-bottom: 100px;
                                                                    "></div>
                            <div class="container">
                                <div class="panel-group">
                                    <div class="panel panel-default">

                                        <div id="collapse1" class="">
                                            <table class="table">
                                                <thead class="table-dark" id="thead">

                                                </thead>
                                                <tbody id="searchingfor">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-b" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        </form>















        <img src="images/mainHallForPatient.jpg" alt="" style="position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: fill;
                z-index: -10000000000000;">
    </div>
    <%- include('layout/footer')%>