<!-- Home Html Page-->

<%- include('layout/header')%>


    <div class="img-container">
        <img class="img-fluid" src="images/mainHallForPatient.jpg" alt="" style="position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -10000000000000;">
    
        <a href="#Search" data-lightbox="inline"
            style="position: fixed;width: 5%;height: 2%;top: 29%;left: 11%;transform: rotate(15deg);"></a>
        <a href="medicalhistory" data-lightbox="inline"
           style="position: fixed;width: 9%;height: 2%;top: 71%;left: 17%;transform: rotate(1deg);"></a>

      
<div id="dock-container">
    <ul>
        <li>
            <a href="javascript:void(0)" id="conference-info-btn">
                <span>Explore</span>
                <img src="/" /></a>
        </li>
        <li>
            <a href="javascript:void(0)" id="attendees-btn" >
                <span>Patients</span>
                <img src="/" /></a>
        </li>
        <li>
            <a href="/">
                <span>Help desk</span>
                <img src="/" /></a>
        </li>
        <li>
            <a href="#">
                <span>Call us</span>
                <img src="/" /></a>
        </li>
    </ul>
    <div class="menu-perspective" style="width: 100%;">
        <div class="menu-board metal-gradient" style="min-width: 512px;"></div>
    </div>
</div>


        <%- include('layout/footer')%>