#collapse1{
    height:300px;
overflow-y:scroll;
}



        /*-------------------spinner----------------------*/
#spinner1 , #spinner2 , #spinner3 , #spinner4{
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

#spinner1.show {
  visibility: visible;
}
#spinner2.show {
  visibility: visible;
}
#spinner3.show {
  visibility: visible;
}
#spinner4.show {
  visibility: visible;
}